.sim
__pycache__/
*.pyc
The B92 Quantum Key Distribution Protocol.docx
The BB84 Quantum Key Distribution Protocol.docx
The E91 Quantum Key Distribution Protocol.docx
E91 Result and  discussion with graph.docx
 .~lock.The B92 Quantum Key Distribution Protocol.docx#
 foundationofquantumMechnics.txt
 